@font-face {
  font-family: 'FoundersGrotesk';
  font-weight: normal;
  src: url('../fonts/FoundersGroteskX-CondensedWeb-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FoundersGroteskX-CondensedWeb-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FoundersGroteskX-CondensedWeb-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Pitch';
  src: url('../fonts/PitchWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PitchWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PitchWeb-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Pitch';
  font-style: italic;
  src: url('../fonts/PitchWeb-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PitchWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PitchWeb-RegularItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Pitch';
  font-weight: bold;
  src: url('../fonts/PitchWeb-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PitchWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PitchWeb-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face { 
  font-family: 'SnellRoundhand';
  font-weight: normal; 
  font-style: normal;
  src: url('../fonts/snellroundhandltstd-scr-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/snellroundhandltstd-scr-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/snellroundhandltstd-scr-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}