body {
    font: 'Helvetica', sans-serif medium/1.5;
    color: $text-grey;
}

::selection {
    background-color: $yellow;
}

%headline {
    line-height: 1.25;

    font-weight: bold;

    letter-spacing: -.0125em;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    color: $dark-grey;
}

%body-copy {
    font-size: (15/16)+rem;
    line-height: (24/15);

    margin-top: 0;
    margin-bottom: 0;


    * + & {
        margin-top: (20/14)+em;
    }
}


html {
    font: medium/1.5 Helvetica Neue, sans-serif;
}


h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    @extend %headline;
    font-size: 2rem;

    @include breakpoint-4 {
        font-size: 3rem;
    }
}


.component--breadcrumb + h1 {
    margin-top: 0;
}

h2 {
    @extend %headline;
    font-size: 1.5rem;

    @include breakpoint-4 {
        font-size: 2rem;
    }
}

* + h2 {
    margin-top: 1rem;
}

h3 {
    @extend %body-copy;
    font-weight: bold;
}

h4 {
    @extend %body-copy;
    font-weight: normal;
    color: $text-dark-grey;
}

h5 { 
    @extend %body-copy; 
}

h6 { 
    @extend %body-copy;   
}

p, ul, ol, dl, li, address, blockquote, cite {
    @extend %body-copy;
}

* + h3, * + h4, * + h5, * + h6, * + p, * + ul, * + ol, * + dl, * + li, * + address {
}

//h3 + h4, h3 + h5, h3 + h6, h3 + p, h3 + ul, h3 + ol, h3 + dl, h3 + li, h3 + address {
//    margin-top: 0;
//}

li + li {
    margin-top: (10/14)+em;

    @include breakpoint-5 {
        margin-top: (12/15)+em;
    }
}

address {
    font-style: normal;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
}
cite {
    display: block;
    font-style: italic;
    color: $text-light-grey;
    &:before {
        content: '—';
    }
}

dl {
    @include clearfix;
}

    dt {
        display: inline;
        font-weight: bold;
        &:after {
            content: ': '
        }
    }

    dd {
        display: inline;
        margin: 0;    
        margin-right: .5em;
    }

:link, :visited {
    text-decoration: none;
    color: $text-grey;

    padding-bottom: .25em;

    background-image: linear-gradient(transparentize($text-grey, 1) 50%, transparentize($text-grey,.375) 50%);
    background-size: 1px 1px;
    background-position: 0 1.3em;
    background-repeat: repeat-x;

    &:hover {
        background-image: linear-gradient(transparentize($text-grey, 1) 50%, transparentize($text-grey,.75) 50%);
    }

    h1 &, h2 &, h3 & {
        color: $dark-grey;
    }

    .text-light & {
        color: $text-light-grey;
        background-image: linear-gradient(transparentize($text-light-grey, 1) 50%, transparentize($text-light-grey,0) 50%);
        &:hover {
            background-image: linear-gradient(transparentize($text-light-grey, 1) 50%, transparentize($text-light-grey,.5) 50%);
        }
    }
}

label {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.ellipsis { 
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:link {
        background-position: 0 1.35em
    }
}

.not-list {
    padding-left: 0;

    li {
        list-style-type: none;
    }
}

.text-light {
    color: $text-light-grey;
}