.component--menu {

  &__checkbox {
    position: absolute;
    visibility: hidden;
  }

  &__button-open,
  &__button-close, {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: $light-blue;
    color: $white;
    transform-origin: center center;
    transition: transform .25s ease-in-out,
                opacity .25s ease-in;
    font-family: Lucida Grande, Verdana, sans-serif;
    font-size: .6875rem;
    letter-spacing: .125em;
    line-height: 3.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__button-close {
    background-color: $dark-grey;
    transform: rotate(-180deg);
    opacity: 0;
  }

  &__list {
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2.25rem 1.5rem 1.5rem;
    @include breakpoint-4 {
      padding: 4rem;
    }
    overflow-y: auto;
    opacity: 0;
    transition: opacity .333s ease-in-out;
    background-color: $light-blue;
    text-align: left;
    li {
      list-style-type: none;
      color: $white;
      opacity: 0;
      font-size: 1.5rem;
      font-weight: bold;
      text-rendering: optimizeLegibility;
      letter-spacing: -.0125em;

      opacity: 0;
      transform: translateY(3.5rem);
      transition: transform .44s ease-out,
                  opacity .33s ease-out;
    }
  }

  &__checkbox:checked ~ &__button-open {
    transform: rotate(180deg);
  }

  &__checkbox:checked ~ &__button-close {
    transform: rotate(0);
    opacity: 1;
  }

  &__checkbox:checked ~ &__list {
    pointer-events: auto;
    opacity: 1;
    li {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
