.layout--header {
  background-color: $dark-grey;
  overflow: hidden;
  padding-top: 75%;
  position: relative;

  &:before {
    background-color: $light-blue;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    transform: skewX(-25.3deg) translateX(6em);
    transform-origin: top right;
    width: 100%;
  }

  @include breakpoint-3 {
    padding-top: 50%;

    &:before {
      transform: skewX(-25.3deg) translateX(50%);
      transform-origin: center right;
    }
  }

  @include breakpoint-5 {
    padding-top: percentage(1/3);
  }
}
